body {
    padding-top: 70px;
}
.homepage-explore {
    margin-bottom: 20px;
}
.carousel-control {
    width: 55px;
}
.carousel-content {
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 10px;
    height: 390px;
}
.carousel-indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 5px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #aaaaaa;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 8px;
    height: 8px;
    margin: 5px;
    background-color: #222222;
}
.feature-list {
    font-size: x-large;
}
.tick {
    text-align: right;
    color: green;
}
.footer {
    margin-top: 20px;
    border-top: solid black 1px;
    padding: 10px;
    text-align: center;
    font-size: small;
}

.title-anchor {
    opacity: 0;
    color: #333;
    font-size: 60%;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    vertical-align: 0.5ex;
    outline: none;
    cursor: pointer;
}

.title-anchor:hover {
    opacity: 1;
}
