a {
    color: #1a5b3d;
}
a:hover {
     color: #1a5b3d;
}
a:active {
     color: #1a5b3d;
}
code {
     color: #333333;
     background-color: #eeeeee;
}
pre {
    background-color: #eeeeee;
    padding: 10px;
}

.branding-area {
    background-color: #eeeeee;
}
.edument-links {
    padding-top: 10px;
    text-align: right;
}
.edument-links img {
    vertical-align: top;
    padding-right: 5px;
}
.edument-logo {
    padding-top: 6px;
}

.footer {
    margin-top: 20px;
    border-top: solid black 1px;
    padding: 10px;
    text-align: center;
    font-size: small;
}

.jumbotron {
    padding: 2rem;
    background-color: #eeeeee;
}
.jumbotron h1 {
    color: #1a5b3d;
}

.nav-pills .nav-link.active {
    background-color: #1a5b3d;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #eeeeee;
    font-weight: bold;
}

.page-content {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.homepage-explore {
    margin-bottom: 20px;
}
.carousel-control {
    width: 55px;
}
.carousel-content {
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 10px;
    height: 390px;
}
.carousel-indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 5px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #aaaaaa;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 8px;
    height: 8px;
    margin: 5px;
    background-color: #222222;
}
.feature-list {
    font-size: x-large;
}
.tick {
    padding-left: 30px;
}

.title-anchor:target {
    padding-top: 53px;
}

.title-anchor {
    opacity: 0;
    color: #333;
    font-size: 60%;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    vertical-align: 0.5ex;
    outline: none;
    cursor: pointer;
}

.title-anchor:hover {
    opacity: 1;
}

.docs-index {
    position: fixed;
    margin-top: 5px;
    width: 250px;
    padding: 5px;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
}
.docs-index ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: square;
}
